//- table
//-   thead
//-     th name
//-     th twitter
//-     th phone
//-   tbody
//-     tr(ng-repeat="person in main.people | objToArr | orderBy: 'name' | filter: query")
//-       td
//-         img(ng-src="{{person.photo}}")
//-       td {{person.name | ransomcase}}
//-       td
//-         a(href="http://twitter.com/{{person.twitter}}", target="_blank")
//-           {{person.twitter}}
//-       td {{person.phone | tel}}
//-       td
//-         button.btn.btn-default(ng-click="main.removeAddress(person._id)") x
